extends layout

block content
  div.center-content.full-height
    div#imageHere.container
        div.row
        div.col
            h1.text-center.lighter.white Bandwidth Internet of Things
            h3.text-center Using Bandwidth's messaging API and our numerous plugins, we provide access to all of your smart-things: No Additional Apps Needed. 
            br
            h3.text-center Check out our demo
            div.center-content
                a#link.btn(href="/connect") Connect Your Car